<div class="modal-custom" x-show="show_forgot_password" x-cloak x-transition>
    <form class="container-fluid">
        {% csrf_token %}

        <div class="modal-dialog">
         
            <div class="modal-content bg-carmel border-none">
                   <div class="modal-header bg-carmel-header border-none">
                        <h3 class="modal-title text-white h6" @click="show_forgot_password = false">
                            Esqueci minha Senha
                            <span x-text="show_forgot_password"></span>
                        </h3>
                        <button type="button" class="close" @click="show_forgot_password = false" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                <div class="container my-4">
                    <input class="form-control" type="email" name="email_forgot" placeholder="Digite o e-mail da conta correspondente" required>
                </div>
                 <div class="modal-footer bg-carmel border-none">
                <button type="button" class="btn btn-success" hx-post="{% url 'forgot_password' %}" hx-trigger="click" hx-target="#forgot_response">Redefinir Senha </button>
                <span id="forgot_response">
                {% if message %}
                    {{ message }}</span>
                {% endif %}
                </span>
                
                 
            </div>
            </div>
           
        </div>
    </form>
   
</div>