{% extends 'partials/base.html' %}

{% load static %}

{% block head_title %}
    Esqueci minha senha
{% endblock %}

    
{% block content %}
  <form class="container d-flex flex-column align-items-center" method="POST" action="{% url 'reset_password' token %}">
   {% csrf_token %}
    <input class="form-control" type="password" name="password" placeholder="Nova senha">
    <input class="form-control" type="password" name="confirm_password" placeholder="Confirmar senha">
    <button class="btn btn-primary">Redefinir senha</button>
  </form>
{% endblock %}


{% block extra_body %}
{% endblock extra_body %}
    

