<div class="card bg-carmel-body border-0 shadow-sm text-white">

    <div class="card-body">

   <div class="row">

    <div class="col-md-3">

        <small class="text-muted d-block">
            <i class="bi bi-signpost-2 me-1"></i>
            Rua
        </small>

        <strong class="ms-4">
            {{ address.street }}
        </strong>

    </div>


    <div class="col-md-2">

        <small class="text-muted d-block">
            <i class="bi bi-house-door me-1"></i>
            Número
        </small>

        <strong class="ms-4">
            {{ address.number }}
        </strong>

    </div>


    <div class="col-md-3">

        <small class="text-muted d-block">
            <i class="bi bi-geo-alt me-1"></i>
            Bairro
        </small>

        <strong class="ms-4">
            {{ address.neighborhood }}
        </strong>

    </div>


    <div class="col-md-2">

        <small class="text-muted d-block">
            <i class="bi bi-buildings me-1"></i>
            Cidade
        </small>

        <strong class="ms-4">
            {{ address.city }}
        </strong>

    </div>


    <div class="col-md-2">

        <small class="text-muted d-block">
            <i class="bi bi-map me-1"></i>
            Estado
        </small>

        <strong class="ms-4">
            {{ address.state }}
        </strong>

    </div>


</div>

    </div>

</div>
