{% extends 'partials/base.html' %}

{% load static %}
{% load permission_tags%}
{% block head_title %}{% endblock head_title %}
{% block extra_head %}{% endblock extra_head %}
{% block content %}
<div class="container-fluid">

    <section class="container text-white my-4"
        {% if user|can:'edit_carmel' %}
            x-data="{ editCarmel: false }"
        {% endif %}
    >
        {% if user|can:'edit_carmel' %}
        <div x-show="editCarmel" class="modal-custom" x-cloak>
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-dark text-white bg-carmel">
                    <div class="modal-header bg-carmel-header">
                        <h5 class="modal-title">Editar Carmel</h5>
                        <button type="button" @click="editCarmel = false" class="btn">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form method="POST" action="{% url 'edit_carmel' %}">
                            {% csrf_token %}
                            {{ form }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" @click="editCarmel = false">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <h1 class="h2">{{carmel.name}}</h1>
        <div class="container my-4">
            <p>
                {{carmel.description}}
            </p>
              {% if user|can:'read_member' %}
            <div class="py-2">

                Quantidade de Membros é <span class="h5">{{member_quantity}}</span>

            </div>
             {% endif %}
            <div>
                Total de contribuições já registradas é <span class="h5">{{total_contribution}}</span>
                {% if user|can:'edit_carmel' %}
                    <button class="btn btn-primary" @click="editCarmel = true">Editar</button>
                {% endif %}

            </div>
        </div>
    </section>
</div>
{% endblock content %}
{% block extra_body %}{% endblock extra_body %}

